block variables 

doctype html 
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="UTF-viewport" content="width=device-width, initial-scale=1.0")
    //- width=device-width设备的宽度作为视口的宽度，以适应不同的设备的屏幕宽度，以及initial-scale不会缩放，灰以实际大小显示
    
    base(href="/")

    title=meta.data.title

    meta(name="description" content=meta.data.description)

    link(rel="apple-touch-icon", sizes="180x180" href="/apple-touch-icon.png")
    //-  Apple 设备（如iPhone和iPad）主屏幕图标
    link(rel="icon", type="image/png" sizes="32*32" href="/favicon-32*32.png")
    link(rel="icon", type="image/png" sizes="16*16" href="/favicon-16*16.png")
    //- 浏览器标签， 引入favicon的代码，在HTML 文件中添加一个用于指定网站图标
    link(rel="manifest", href="/site.webmanifest")
    //- Progressive Web App
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#ff3a00")
    //-  Safari 浏览器的钉选项卡
    meta(name="msapplication-TitleColor" content="#f4d8cc")
    //-  Internet Explorer 和 Microsoft Edge 浏览器88888888888
    meta(name="theme-color" content="#f4d8cc")
    //- 浏览器主题颜色的

    meta(name="viewport" content="width=device-width, initial-scale=1")

    meta(property="og:type" content="website")
    meta(property="og:title" content=meta.data.title)
    meta(property="og:description" content=meta.data.description)
    meta(property="og:image" content=meta.data.image?meta.data.image.url:'')

    meta(property="twitter:card" content="summary_large_image")
    meta(property="twitter:title" content=meta.data.title)
    meta(property="twitter:description" content=meta.data.description)
    meta(property="twitter:image" content=meta.data.image?meta.data.image.url:'')
    //- 在facebook和推特里在分享时，需要创建的一些信息

    link(href="main.css" rel="stylesheet")
    //- rel是relationship的缩写，用于定义连接与当前文档之间的关系和用途

    //- 当用户浏览产品页面并尝试分享该页面的链接到社交媒体时，
    //- 社交媒体平台通常会尝试从页面中提取 meta 数据以生成分享预览卡片。
    //- 这个过程包括获取页面的标题、描述和图像，以展示给分享者和潜在的观众。

  body
    include ./partials/preloader
    include ./partials/navigation

    .content#content(data-template=template)
      //- 这是一个具有 class (content) 和 ID (content) 的 <div> 元素。
      //- 此外，它还包含了一个自定义的 HTML 属性 data-template，其值从变量 template 中获取。
      //- 所以那些文件都用  - var template ='collections'
      block content 
      //- 在模板的不同部分被重写的内容块





