extends ../base.pug 
//- 继承base的模版

block variables 
  - var template ='home'

block content 
  .home(data-background="#C97164" data-color="#F9F1E7")   
    .home__wrapper
      .home__titles 
        each collection,index in collections
          .home__titles__label=`${home.data.collection} ${Numbers(index)}`
          .home__titles__title=collection.data.title 
        //- 记得遍历时也要包含数字索引index，不然不会显示数字

      .home__gallery
        each media in home.data.gallery
          figure.home__gallery__media 
            img.home__gallery__media__image(alt=media.image.alt data-src=media.image.url)
            
      a.home__link(href=Link(home.data.collections))=home.data.button
        //- 这个home是presmic的homeAPI,button字段获取
        svg.home__link__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 60")
          path(stroke="currentColor" fill="none" opacity="0.4" d="M284.4,35.3c1.8-1.8,2.6-3.6,2.6-5.3s-0.8-3.5-2.6-5.3c-1.8-1.8-4.5-3.7-8.1-5.4c-7.2-3.5-17.6-6.7-30.6-9.5C219.6,4.4,183.7,1,144,1S68.4,4.4,42.4,9.8c-13,2.7-23.4,5.9-30.6,9.5c-3.6,1.8-6.3,3.6-8.1,5.4C1.8,26.5,1,28.3,1,30s0.8,3.5,2.6,5.3c1.8,1.8,4.5,3.7,8.1,5.4c7.2,3.5,17.6,6.7,30.6,9.5c26,5.4,61.9,8.8,101.6,8.8s75.6-3.4,101.6-8.8c13-2.7,23.4-5.9,30.6-9.5C279.8,39,282.6,37.2,284.4,35.3z M144,60c79.5,0,144-13.4,144-30S223.5,0,144,0S0,13.4,0,30S64.5,60,144,60z")
          path.home__link__icon__path(stroke="#FFC400" fill="none" opacity="0.4" d="M284.4,35.3c1.8-1.8,2.6-3.6,2.6-5.3s-0.8-3.5-2.6-5.3c-1.8-1.8-4.5-3.7-8.1-5.4c-7.2-3.5-17.6-6.7-30.6-9.5C219.6,4.4,183.7,1,144,1S68.4,4.4,42.4,9.8c-13,2.7-23.4,5.9-30.6,9.5c-3.6,1.8-6.3,3.6-8.1,5.4C1.8,26.5,1,28.3,1,30s0.8,3.5,2.6,5.3c1.8,1.8,4.5,3.7,8.1,5.4c7.2,3.5,17.6,6.7,30.6,9.5c26,5.4,61.9,8.8,101.6,8.8s75.6-3.4,101.6-8.8c13-2.7,23.4-5.9,30.6-9.5C279.8,39,282.6,37.2,284.4,35.3z M144,60c79.5,0,144-13.4,144-30S223.5,0,144,0S0,13.4,0,30S64.5,60,144,60z")